Tag: postrm-contains-additional-updaterc.d-calls
Severity: error
Check: init.d
Explanation: The <code>postrm</code> de-registers an <code>/etc/init.d</code> script which
 has not been registered in the <code>postinst</code> script before.
