Tag: output-of-updaterc.d-not-redirected-to-dev-null
Severity: info
Check: init.d
Explanation: The output messages of the <code>update-rc.d</code> command should be
 redirected to <code>/dev/null</code> because it is currently very chatty
 per default.
